* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-heading: #767e7e;
  --font-text: #9da6a5;
  --color: #1ebfc1;
  --font_heading2: #0d1111;
}
/* ============================ common ============================== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.heading-h1 {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}
.btn {
  display: inline-block;
  background-color: var(--color);
  width: 186px;
  line-height: 68px;
  border-radius: 14px;
  text-align: center;

  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}
.btn:hover {
  opacity: 0.9;
}

/* ========================= header ================================== */

.header.fixx {
  position: sticky;
  top: 8px;
  z-index: 999;
}

.header__body {
  margin: 52px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__link {
  padding: 8px 20px;
  text-align: left;
  color: #2f3a3b;
}

.header__link:hover {
  text-shadow: 1px 0 0;
}
.header__active {
  display: flex;
  gap: 24px;
}
.header__btn {
  border: 1px solid transparent;
  color: #494949;
  text-align: center;
  display: block;
  padding: 12px 24px;
}
.header__btn:hover {
  border: 1px solid #1ebfc1;
  border-radius: 6px;
  color: #1ebfc1;
  text-shadow: 1px 0 0;
}
.words {
  margin-top: 50px;
  padding-bottom: 80px;
}
.words__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.words__left {
  width: 39.2%;
}
.words__easy {
  font-size: 1.4rem;
  line-height: 21px;
  text-align: left;
  color: var(--font-heading);
}
.words__heading {
  margin-top: 18px;
}
.words__skill {
  width: 374px;
  margin-top: 46px;
  font-size: 1.8rem;

  line-height: 1.77;
  text-align: left;
  color: var(--font-text);
}
.words__span {
  display: block;
}
.words__action {
  display: flex;
  margin-top: 52px;
  align-items: center;
  gap: 50px;
}
.words__btn--play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
/* ========== words__right ================ */
.words__right {
  width: 54.8%;
  position: relative;
  text-align: right;
}
.words__img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.words__course {
  position: absolute;
  left: 25px;
  top: 149px;
  background-color: #fefefd;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  padding: 15px 25px;
}
.words__course--desc {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 15px;
  color: #0d1111;
}

.words__course--body {
  position: relative;

  display: flex;
  align-items: center;
  gap: 16px;
}
.words__course--body::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #ffffff;
  left: 4px;
  top: 29px;
}
.words__schedules {
  position: absolute;
  left: 0;
  bottom: 46px;
  background-color: #ffffff;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  padding: 16px 25px 23px;
}

.words__schedules--desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 15px;
  color: #0d1111;
}
.words__line {
  width: 74px;
  height: 6px;
  background-color: #edf1f5;
  border-radius: 3px;
  margin-top: 10px;
}
.words__line:nth-of-type(1) {
  margin-top: 16px;
}
.words__line--pink {
  height: 6px;
  border-radius: 3px;
  background-color: yellowgreen;
}
.words__line--pink1 {
  width: 52%;
}
.words__line--pink2 {
  width: 69%;
}
.words__line--pink3 {
  width: 45%;
}
.words__student {
  position: absolute;
  right: 45px;
  bottom: 41px;
  width: 207px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 17px 35px;
}
.words__student--desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
}
.words__student--body {
  margin-top: 8px;
}
.words__student--logo {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: -10px;
}
/* ===================== features ======================= */

.features {
  margin-top: 130px;
}
.features__body {
  max-width: 1024px;
}
.features__p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 18px;

  color: var(--font-text);
}
.features__heading {
  margin-top: 18px;
  width: 577px;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 56px;
}
.features__desc {
  width: 590px;
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 27px;
  color: var(--font-text);
}
.features__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1.126fr repeat(2, 1.5fr);
  gap: 205px;
}
.features__skill {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 30px;
  color: var(--font_heading2);
}
.features__item--desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 27px;
  color: var(--font-text);
}
/* ================= popular ====================== */
.popular {
  margin-top: 130px;
}
.popular__first {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 18px;
  color: var(--font-text);
}
.popular__heading {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 63px;
  color: var(--font_heading2);
  margin-top: 18px;
}
.popular__cousers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}
.popular__desc {
  width: 525px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 32px;
  color: var(--font-heading);
}
.popular__link {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 21px;
  color: var(--color);
  text-decoration: underline;
}
.popular__lists {
  margin-top: 79px;
  display: flex;
  align-items: center;
  gap: 47px;
}
.popular__item {
  position: relative;
}
.popular__img {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}
.popular__content {
  border-radius: 8px;
  width: 325px;
  position: absolute;
  background-color: #ffffff;
  padding: 18px 25px 29px;
  top: 322px;
  left: 17px;
  right: 17px;
  z-index: 1;
}
.popular__item--heading {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 33px;
  color: var(--font_heading2);
}
.popular__item--cost {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--font-text);
}
.popular__item--cost span {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 33px;
  color: var(--font_heading2);
}
.popular__item--desc {
  font-size: 1.4rem;
  line-height: 21px;
  color: var(--font-text);
}
.popular__item--info {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 26px;
  color: var(--font-text);
  font-size: 1.4rem;
}
/* .popular__item--number {
  width: 76px;
} */
.popular__item--number::before,
.popular__item--month::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color);
  margin-right: 8px;
}

/* ====================== statistical ========================= */

.statistical {
  margin-top: 120px;
  padding: 145px 0px 145px;
}
.statistical__body {
  width: 862px;
  margin: 0 auto;
  text-align: center;
}
.statistical__lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistical__number {
  color: var(--font_heading2);
  font-size: 6.2rem;
  font-weight: 700;
}
.statistical__content {
  margin-top: 11px;
  color: var(--font-heading);
  font-size: 1.8rem;
  font-weight: 400;
}

/* =============================== student ============================ */
.student {
  margin-top: 119px;
}
.student__body {
  height: 481px;
  display: flex;
  align-items: center;
  gap: 72px;
  position: relative;
}
.student__content {
  margin-top: 27px;
  width: 419px;
  color: #5d6564;
  font-size: 3.2rem;

  line-height: 150%; /* 150% */
}
.student__author {
  display: flex;
  align-items: center;
  margin-top: 33px;
  color: var(--font-heading);
  font-size: 1.6rem;
  gap: 5px;
}
.student__author::before {
  display: block;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #070707;
}
.student__author span {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.student__btn {
  display: flex;
  align-items: center;
  margin-top: 52px;
  gap: 30px;
}

.student__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* ================== student right ================= */
.student__right {
  width: 58%;
}
.student__logo {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}
.student__logo1 {
  width: 235px;
  height: 235px;
  top: 107px;
  right: 171px;
}
.student__logo2 {
  width: 110px;
  height: 110px;
  top: 19px;
  right: 0px;
}
.student__logo3 {
  width: 92px;
  height: 92px;
  top: 0;
  right: 443px;
}
.student__logo4 {
  right: 32px;
  top: 374px;
}
.student__logo5 {
  right: 389px;
  top: 403px;
}
.student__logo6 {
  right: 601px;
  top: 258px;
}
/* ============================ admit ================================== */
.admit {
  margin-top: 130px;
  background-color: #def6f5;
  padding: 76px 0 88px;
}
.admit__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admit__heading {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
}
.admit__content {
  margin-top: 18px;
  color: var(--font-heading);
  font-size: 1.8rem;
}
.admit__link {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background-color: #2ac9bf;
  padding: 20px 41px;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.footer {
  padding-top: 131px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}

.footer__col .footer__link {
  display: inline-block;
  margin-bottom: 20px;
  color: #535353;
  font-size: 1.6rem;
}

li.footer__info {
  margin-bottom: 25px;
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}
.footer__info.footer__social {
  margin-bottom: 18px;
}
.footer__social--logo {
  display: flex;
  align-items: start;
  gap: 9px;
}
.footer__img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.footer__copyright {
  margin-top: 30px;
  padding: 50px 0;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
}
